.about-container {
  text-align: center;
  padding: 50px;
  background-color: #E3F2FD;
}

.about-container-h1 {
  font-size: 2.5em;
  color: #333;
}

.about-container-p {
  font-size: 1.2em;
  color: #000000;
  margin-bottom: 30px;
}

.team {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-member {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.team-member:hover img {
  transform: scale(1.1);
}

.team-member-h3 {
  font-size: 1.3em;
  color: #333;
  transition: color 0.3s ease;
}

.team-member:hover h3 {
  color: #42A5F5;
}

.team-member-p {
  font-size: 1em;
  color: #777;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about-paragraph {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.unordered_list_about {
  list-style-type: none;
  padding: 0;
}

.ul-list-items {
  background: #ecf0f1;
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  transition: 0.3s;
  text-align: left;
}

.ul-list-items:hover {
  background: #d5dbdb;
}

.about-strong {
  color: #42A5F5;
}

.call-to-action-button {
  display: block;
  width: 200px;
  text-align: center;
  background: #42A5F5;
  color: white;
  font-size: 1.2em;
  padding: 12px;
  border-radius: 5px;
  text-decoration: none;
  margin: 30px auto;
  transition: 0.3s;
}

.call-to-action-button:hover {
  background-color: var(--button-hover-color);
}


.about-link-styles {
  text-decoration: none;
}

@media (max-width: 850px) {
  .team {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .call-to-action-button {
    width: 80%;
    font-size: 1em;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .call-to-action-button {
    width: 90%;
    font-size: 0.9em;
    max-width: 280px;
  }
}