.card-ticket-display{ 
	display: flex; 
	/* justify-content: center;  */
	gap: 30px;
	margin-left: 30px;
	margin-bottom: 30px; 

	width: 100%;
	max-width: 300px;
}

.card-ticket {
	background-color: hsl(207, 90%, 77%);
	/* padding: 20px; */
	border-radius: 50px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	text-align: center;
	width: 100%;

	/* Provide enough space so that the icon is fully inside */
	padding-top: 3rem;  
	padding-bottom: 1.5rem; 

	max-height: 200px;
	min-height: 200px;

	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-ticket:hover {
	transform: scale(1.05);
	background-color: hsl(207, 89%, 86%);
}

.card-ticket:hover h3{
	color: #42A5F5;
}


.card-ticket:hover p{
	color: #42A5F5;
}

.card-ticket-h3 {
	font-size: 1.3em;
	color: hsl(0, 0%, 100%);
	/* transition: color 0.3s ease; */
	margin-bottom: 5%;
}

.card-ticket-p {
	font-size: 1em;
	color: hsl(0, 0%, 100%);
	font-weight: 300;
	margin-left: 15%;
	margin-right: 15%;
}

.card-ticket-description{
	color: hsl(0, 0%, 100%);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* максимум 3 реда */
	line-clamp: 3; /* standard property for compatibility */
  	-webkit-box-orient: vertical;
}

.ticket-logo {
	font-size: var(--text-sm); /* увеличено, но адаптивно */
	color: var(--icons-color);
	transform: translateY(2px);
	scale: 500%;

	padding-bottom: 0.7em;
}