.footer-container {
	text-align: center;
	padding: 50px;
	background: #64b5f6;
}

.footer-components{
	display: flex;
	justify-content: center;
	gap: 20px;
	justify-content: center;
}

.card-footer {
	background-color: hsl(207, 90%, 77%);
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	text-align: left;
	width: 300px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }

.card-footer-h3 {
	font-size: 1.3em;
	color: white;
	transition: color 0.3s ease;
	margin-left: 15%;
	margin-bottom: 5%;
}

.card-footer-p {
	font-size: 1em;
	color: #ffffff;
	font-weight: 300;
	margin-left: 15%;
	margin-right: 15%;
}

.card-footer-img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 1px;
	transition: transform 0.3s ease;
	margin-left: 15%;
}

.footer-list {
    background: none;
	list-style: none;
	margin: 10px 0; 
    padding: 5px 0; 
}

.footer-list:hover {
    background: none;
}

.footer-links {
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 300;
	margin-left: 10px;
}

.footer-links:hover {
	text-decoration: underline;
}

.copy-text {
    cursor: pointer;
	font-size: 1em;
	color: hsl(0, 0%, 100%);
	font-weight: 300;
}

.copy-text:hover {
	background: none;
	text-decoration: underline;
}

.footer-copyright {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 0.9rem;
    margin-top: 20px;
    width: 100%;
}

.hor-line{
	border: 1px solid hsl(207, 89%, 68%);
    width: 70%;
    display: block; 
    margin-top: 5px;   
    margin-bottom: 10px; 
    margin-left: 15%;
}


@media (max-width: 1025px) {
	.footer-components{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.footer-container {
		padding: 20px; 
		flex-direction: column; 
	}

	.card-footer {
		width: 80%;  
		margin: 10px auto;
	}

	.card-footer-h3,
	.card-footer-p
	{
		margin-left: 5%;
		margin-right: 5%;
		font-size: 1.5em;

		text-align: center;
	}
	.card-footer-img {
		width: 80px; 
		height: 80px;
	}
	.footer-links{
		font-size: 1.4em;

		margin-left: 0;      
  		display: inline-block;
  		text-align: center;
	}

	.copy-text {
		font-size: 0.9em;
		margin-left: 5%;
		margin-right: 5%;
	}

	.footer-list {
		text-align: center; 
		margin-left: 0;      
		padding-left: 0;
	  }
	
	.card-footer-ul {
		padding-left: 0;
		margin: 0 auto;
		text-align: center;
	}

	.company-info-img {
		width: 150px;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	  }
  }
   
@media (max-width: 480px) {
	.card-footer {
		width: 90%; 
	}

	.card-footer-h3 {
		font-size: 1.7em;
	}

	.footer-links {
		font-size: 1.6em;
	}

	.card-footer-p {
		font-size: 1.6em;
	}

	.copy-text {
		font-size: 1em;
	}
}