.search-event-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
    border-radius: 25px;
    margin: 5rem 12rem;
    padding: 3rem;
}

.search-event {
    border: 3px solid hsl(208, 84%, 55%);
    background-color: hsla(208, 100%, 85%, 0.759);
    font-size: var(--text-3xl);
    color: white;
    padding: 0.5rem 1rem;
}

.search-event::placeholder {
    color: white;
}

.search-event:hover {
    border-color: hsl(212, 96%, 50%);
}

.search-event:focus {
    outline: none; 
    border-color: hsl(212, 8%, 68%);
}

.search-event-button{
  background-color: hsl(212, 37%, 40%);
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.search-event-button:hover{
    background-color: hsl(212, 8%, 68%);
}

.hot-events-container {
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    padding: 20px;

    max-width: 1400px;
    margin: 0 auto;
}

/* @media (max-width: 600px) {
    .hot-events-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
} */