.main-heading-page-ticket {
	text-align: center;
	font-size: var(--text-4xl);
	margin-bottom: 20px;
	color: var(--text-color);
}

.second-heading-page-ticket {
	text-align: left;
	font-size: var(--text-2xl);
	margin-bottom: 10px;
	color: var(--text-color);
	padding-bottom: 30px;
	margin-left: 40px;
}

.paragraph-page-ticket {
	text-align: center;
	font-size: var(--text-base);
	margin-bottom: 20px;
	color: var(--text-color);
}

.my-tickets-components {
	display: flex;
	width: 100%;
	gap: 30px;
	margin-bottom: 10px;
	flex-wrap: wrap;
	margin-right: 30px;
}