.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(207, 90%, 77%);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    max-width: 100%;
    height: auto;
    padding: 10px 50px;

    overflow-x: hidden;
}

/* Logo and name container */
.home-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1.35rem;
    color: hsl(207, 73%, 39%);
    transform: translateY(1.5px);
}

.logo-text {
    font-size: 1.75rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

/* Navigation container */

.mobile-nav-toggle {
    display: none;
}

.navbar-links {
    display: flex; 
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.navbar-a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;

    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease-in-out;
}

.navbar-a:hover {
    background-color: hsla(207, 73%, 39%, 0.322);
    cursor: pointer;
}

/* Login container */

.login-button {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    border: none;
    background: inherit;
}

.login-image {
    width: 2.2rem;
    height: auto;
    color: hsl(207, 73%, 39%);
}

.login-text {
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

/* 📱 320px – 480px: Mobile devices */
@media (min-width: 20em) and (max-width: 30em) {
    /* Стили за телефони */

    /* Logo correction */
.home-link-container {
        gap: 0.25rem;
    }

    .logo {
        font-size: 1.1rem;
        
    }

    .logo-text {
        font-size: 1.3rem;
    }

    .navbar {
        padding: 10px 20px;
    }

    /* Navbar correction */
    .navbar-links {
        position: fixed;
        inset: 0 0 0 40%;
        z-index: 1000;

        flex-direction: column;
        padding:  min( 20vh, 7em) 3.5em;
        gap: 2.125em;

        background: hsla(0, 0%, 100%, 0.3);
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar-links[data-visible="true"] {
        transform: translateX(0);
    }

    .navbar-a {
        color: hsl(207, 73%, 39%);
        font-size: 1.2em;
    }

    .mobile-nav-toggle{
        display: block;      ;
        position: absolute;
        aspect-ratio: 1;
        top: 0.68rem;
        right: 2.4rem;
        width: 1rem;

        background: none;
        border: none;
        font-size: 1.5rem;
        color: hsl(207, 73%, 39%);

        z-index: 9999;
    }

    /* Login correction */

    .login-button {
        position: fixed;
        right: 3.5rem;
    }

    .login-image {
        width: 1.65rem;
        height: auto;
    }
  }
  
  /* 📱📲 481px – 768px: iPads, Tablets */
  @media (min-width: 30.063em) and (max-width: 48em) {
    /* Стили за таблети */
  }
  
  /* 💻 769px – 1024px: Small screens, laptops */
  @media (min-width: 48.063em) and (max-width: 64em) {
    /* Стили за лаптопи и малки екрани */
  }
  
  /* 🖥️ 1025px – 1200px: Desktops, large screens */
  @media (min-width: 64.063em) and (max-width: 75em) {
    /* Стили за стандартни десктопи */
  }
  
  /* 🖥️📺 1201px+: Extra large screens, TVs */
  @media (min-width: 75.063em) {
    /* Стили за големи екрани и телевизори */
  }